
input[type='radio']{
	width: fit-content;
	transform: scale(1.5);
}

.test header{
	display: flex;
	justify-content: space-between;

	position: sticky;
	top: 0;
	/* background-color: rgb(4, 13, 31); */
	background-color: var(--color-bg);
	border-bottom: .5px solid rgba(255, 255, 255, 0.199);
	z-index: 5;

	padding: 1em 5em;

	/* width: 100vw;
	transform: translate(-14%); */
}

.timer{
	font-size: 1.8rem;
	opacity: 0.5;

}
.super-header{
	display:flex;
	justify-content: center;
	gap: 4em;
	align-items: center;
}


#test-abort-button{
	font-size: 1.2rem;
	padding: 0.25em 1em;
	border:none;
	border-radius: 2px;
	background-color: rgb(175, 0, 0);
	opacity: 0.95;
}
#test-abort-button:hover{
	background-color: red;
	opacity: 1;
	cursor: pointer;
}

.header-info{
	margin-inline: 1em;
	font-weight: 100;
	color: grey;
	font-size: 1.8rem;;
}
.bright{
	color:white;
	opacity:1;
}
@media screen and (max-width: 500px) {

	.test header{
		border-radius: 0;
		padding: 1em 2em;
	}

	#test-abort-button{
		font-size: 1.2rem;

	}

}







/* Styling the test form */


.questionItem{
	margin-block: 1.5em;
}


.question-statement{
	font-size: 1.3rem;
	opacity: 0.7;
	margin-left: 1em;
}

.question-main-group{
	display: flex;
	align-items: center;
	
}

.options-group{
	margin-left: 3em;
	font-size: 1.2rem;
}

.option{
	display:flex;
	align-items: center;
	padding-inline: 0.5em;
	font-size: 1.1rem;
}

.option-label{
	margin-left: 1em;
	width: 100%;
	height: 3em;

	padding-top: 0.75em
}

.option+.option{
	border-top: 0.2px solid rgb(37, 37, 37);
}

.questionItem span{
	font-size: 2rem;
	opacity: 0.5;
}

.option:hover{

	background-color: rgba(255, 255, 255, 0.055);
	
}

input[type='radio']{
	margin:0;
}

.test-submit-button{
	width: 100%;
	background-color: rgb(0, 159, 180);
	border: none;
	font-size: 2rem;
	padding-block: 0.25em;

	margin-top: 2em;
	border-radius: 5px;
	
}

.test-submit-button:hover{
	cursor: pointer;
}

@media screen and (max-width: 500px){
	.option-label{
	padding-top: 0.95em

	}
	.test-submit-button{
		width: 90%;
		margin-left: .8em;
		/* padding: 0.5em; */
	}
	.question-statement{

		line-height: 1.5em;
		margin-left: 0.5em;
	}
	.options-group{
		margin-left: 1em;
	}

	.super-header{
		flex-direction: column;
		gap:0;
		margin-bottom: 1em;
	}
	.questionItem{
		padding: 1.5em 0.5em;
		margin:0;
	}
	h2{
		margin-block: 0.25em;
	}

	.option:hover{
		background-color: inherit;
	}

	.questionItem:nth-child(odd){
		background-color: rgba(4, 163, 255, 0.05);
	}

	form{
		padding-inline: 0;
	}
}